
<div class="main">
  <app-navigation></app-navigation>

    <div class="clubPic">
        <img src="/assets/clubpic.jpg">
    </div>

    <div class="events">
        <h2>Upcoming Events and Rides </h2>
        <div class="eventPlane">
            <div class="eventCard">
                <img src="/assets/loop.jpg">
                <p>RegistrationStatus</p>
                <p>Time Date</p>
                <p>Name</p>
                <p>Elevation Distance</p>
            </div>

            <div class="eventCard">
                <img src="/assets/loop.jpg">
                <p>RegistrationStatus</p>
                <p>Time Date</p>
                <p>Name</p>
                <p>Elevation Distance</p>
            </div>
            <div class="eventCard">
                <img src="/assets/loop.jpg">
                <p>RegistrationStatus</p>
                <p>Time Date</p>
                <p>Name</p>
                <p>Elevation Distance</p>
            </div>
        </div>
    </div>
    
    <app-footer></app-footer>
</div>