.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
.signinContainer{
    height: auto;
    margin-left: 30%;
    margin-right: 30%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.signinContainer form input{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}
button{
    width: 100%;
    background-color: #495049;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #495049;
}